<ul class="nav justify-content-around">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Men
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/product/getproductscat/Men">All</a>
          <a class="dropdown-item" href="/product/getproductssub/Clothing">Clothing</a>
          <a class="dropdown-item" href="/product/getproductssub/Footwear">Footwear</a>
          <a class="dropdown-item" href="/product/getproductssub/Watches">Watches</a>
          <a class="dropdown-item" href="/product/getproductssub/Accessories">Accessories</a>
          <a class="dropdown-item" href="/product/getproductssub/Personal Care">Personal Care</a>
          <a class="dropdown-item" href="/product/getproductssub/Others">Others</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Women
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/product/getproductscat/Women">All</a>
          <a class="dropdown-item" href="/product/getproductssub/Clothing">Clothing</a>
          <a class="dropdown-item" href="/product/getproductssub/Footwear">Footwear</a>
          <a class="dropdown-item" href="/product/getproductssub/Watches">Watches</a>
          <a class="dropdown-item" href="/product/getproductssub/Accessories">Accessories</a>
          <a class="dropdown-item" href="/product/getproductssub/Personal Care">Personal Care</a>
          <a class="dropdown-item" href="/product/getproductssub/Jewellery">Jewellery</a>
          <a class="dropdown-item" href="/product/getproductssub/Others">Others</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Baby & Kids
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/product/getproductscat/Baby & Kids">All</a>
          <a class="dropdown-item" href="/product/getproductssub/Clothing">Clothing</a>
          <a class="dropdown-item" href="/product/getproductssub/Footwear">Footwear</a>
          <a class="dropdown-item" href="/product/getproductssub/Toys">Toys</a>
          <a class="dropdown-item" href="/product/getproductssub/Baby Care">Baby Care</a>
          <a class="dropdown-item" href="/product/getproductssub/Others">Others</a>
        </div>
      </li>
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Electronics
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/product/getproductscat/Electronics">All</a>
          <a class="dropdown-item" href="/product/getproductssub/Mobiles">Mobiles</a>
          <a class="dropdown-item" href="/product/getproductssub/Tablets">Tablets</a>
          <a class="dropdown-item" href="/product/getproductssub/Mobile Accessories">Mobile Accessories</a>
          <a class="dropdown-item" href="/product/getproductssub/Laptops">Laptops</a>
          <a class="dropdown-item" href="/product/getproductssub/Desktop PCs">Desktop PCs</a>
          <a class="dropdown-item" href="/product/getproductssub/Computer Accessories">Computer Accessories</a>
          <a class="dropdown-item" href="/product/getproductssub/Others">Others</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Appliances
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/product/getproductscat/Appliances">All</a>
          <a class="dropdown-item" href="/product/getproductssub/TV">TV</a>
          <a class="dropdown-item" href="/product/getproductssub/Washing Machines">Washing Machines</a>
          <a class="dropdown-item" href="/product/getproductssub/Refrigerators">Refrigerators</a>
          <a class="dropdown-item" href="/product/getproductssub/Air Conditioners">Air Conditioners</a>
          <a class="dropdown-item" href="/product/getproductssub/Others">Others</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Home and Furniture
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/product/getproductscat/Home and Furniture">All</a>
          <a class="dropdown-item" href="/product/getproductssub/Kitchen">Kitchen</a>
          <a class="dropdown-item" href="/product/getproductssub/Dining">Dining</a>
          <a class="dropdown-item" href="/product/getproductssub/Furniture">Furniture</a>
          <a class="dropdown-item" href="/product/getproductssub/Home Decor">Home Decor</a>
          <a class="dropdown-item" href="/product/getproductssub/Lightning">Lightning</a>
          <a class="dropdown-item" href="/product/getproductssub/Others">Others</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Others
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/product/getproductscat/Others">All</a>
          <a class="dropdown-item" href="/product/getproductssub/Books">Books</a>
          <a class="dropdown-item" href="/product/getproductssub/School Supplies">School Supplies</a>
          <a class="dropdown-item" href="/product/getproductssub/Sports">Sports</a>
          <a class="dropdown-item" href="/product/getproductssub/Gaming">Gaming</a>
          <a class="dropdown-item" href="/product/getproductssub/Automobile">Automobile</a>
          <a class="dropdown-item" href="/product/getproductssub/Others">Others</a>
        </div>
      </li>

</ul>
