<footer>
        	<div class="footer-top">
		        <div class="container">
		        	<div class="row">
		        		<div class="col-md-3 footer-about wow fadeInUp">
		        			<h3>About us</h3>
		        			<p>
		        				A2ZOnlineShoppy opens a door in the field of business activities to both the customers and sellers in a mutual way.
		        			</p>
		        			<p>Copyright &copy; a2zonlineshoppy 2018.</p>
	                    </div>
		        		<div class="col-md-4 offset-md-1 footer-contact wow fadeInDown">
		        			<h3>Contact</h3>
		                	<p><i class="fas fa-map-marker-alt faabout"></i> N.S Tower, Kalmandapam Jn, Palakkad, Kerala - 678001</p>
		                	<p><i class="fas fa-phone faabout"></i> Phone: +91 7594855000</p>
		                	<p><i class="fas fa-envelope faabout"></i> Email: <a href="mailto:a2zshoppy.india@gmail.com">a2zshoppy.india@gmail.com</a></p>
	
	                    </div>
	                    <div class="col-md-4 footer-links wow fadeInUp">
	                    	<div class="row">
	                    		<div class="col">
	                    			<h3>Links</h3>
	                    		</div>
	                    	</div>
	                    	<div class="row">
	                    		<div class="col-md-6">
	                    			<p><a href="#">Terms </a></p>
	                    			<p><a href="#">Privacy </a></p>
	                    			<p><a href="http://shop.a2zonlineshoppy.com/shop/signin">Seller </a></p>
	                    		</div>
	                    		<div class="col-md-6">
	                    			<p><a href="#">Payment & Shipping</a></p>
	                    			<p><a href="#">Cancellation & Return</a></p>
	                    			<p><a href="#">FAQ</a></p>
	                    		</div>
	                    	</div>
	                    </div>
		            </div>
		        </div>
	        </div>
	        
        </footer>
