<nav class="navbar navbar-expand-lg navbar-light bg-light border border-top-0 navbartop">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand mx-auto" href="/"><img src="/images/icon.png"></a>
  <form class=" search-form form-inline ml-auto col-lg-7 col-md-7 col-sm-6 col-xs-8 ">
    <input class="form-control mr-sm-2 col-10" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-primary my-2 my-sm-0 searchbutton" type="submit"><i class="fas fa-search"></i></button>
  </form>

  <div class="collapse navbar-collapse  " id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      {{#if login}}
          <li class="nav-item dropdown">

            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user"></i> User
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/customer/profile"> Profile</a>
              <a class="dropdown-item" href="/customer/singout"> Sign Out</a>
            </div>
          </li>
          {{else}}
          <li class="nav-item dropdown">

            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user"></i> Guest
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/customer/signin"> Login</a>
            </div>
          </li>
      {{/if}}

     

      <li class="nav-item">
        <a class="nav-link" href="#" ><i class="fas fa-shopping-cart"></i> Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-mobile-alt"></i>Download</a>
      </li>
      



    </ul>

  </div>
</nav>