<section>
    <div class="section-header">
        <h2>
            A2Z  Privilege Cards
            <a href="#" class="btn btn-primary btn-md float-right"> Read more </a>
        </h2>
    </div>
    <div class="section-content container">
        <div class="row">
                <div class="col-md-3">
                <figure class="card card-product">
                    <div class="img-wrap">
                       <a href="#">  <img class="img-responsive thumpnail" src="https://a2zonlineshoppy.blob.core.windows.net/cards/silver.jpg"></a> 
                    </div>
                    <figcaption class="info-wrap">
                        <a href="#" class="title"><h4>Silver</h4></a>
                        <div class="action-wrap pre-wrap ">
                            <div class="price-wrap  h6">
                                <span class="price-new  float-left"><h5> Price: ₹500</h5></span>
                                <a href="#" class="btn btn-success btn-md float-right"> Purchase </a>
                            </div>
                            <!-- price-wrap.// -->
                        </div> <!-- action-wrap -->
                    </figcaption>
                </figure> <!-- card // -->
            </div>
            <div class="col-md-3">
                <figure class="card card-product">
                    <div class="img-wrap">
                        <a href="#">  <img class="img-responsive thumpnail" src="https://a2zonlineshoppy.blob.core.windows.net/cards/gold.jpg"></a>
                    </div>
                    <figcaption class="info-wrap">
                        <a href="#" class="title"><h4>Gold</h4></a>
                        <div class="action-wrap pre-wrap ">
                            <div class="price-wrap  h6">
                                <span class="price-new  float-left"><h5>Price: ₹700</h5></span>
                                <a href="#" class="btn btn-success btn-md float-right"> Purchase </a>
                            </div>
                            <!-- price-wrap.// -->
                        </div> <!-- action-wrap -->
                    </figcaption>
                </figure> <!-- card // -->
            </div>
            <div class="col-md-3">
                <figure class="card card-product">
                    <div class="img-wrap">
                        <a href="#">  <img class="img-responsive thumpnail" src="https://a2zonlineshoppy.blob.core.windows.net/cards/platinum.jpg"></a>
                    </div>
                    <figcaption class="info-wrap">
                        <a href="#" class="title"><h4>Platinum</h4></a>
                        <div class="action-wrap pre-wrap ">
                            <div class="price-wrap  h6">
                                <span class="price-new  float-left"><h5> Price: ₹900</h5></span>
                                <a href="#" class="btn btn-success btn-md float-right"> Purchase </a>
                            </div>
                            <!-- price-wrap.// -->
                        </div> <!-- action-wrap -->
                    </figcaption>
                </figure> <!-- card // -->
            </div>
            <div class="col-md-3">
                <figure class="card card-product">
                    <div class="img-wrap">
                        <a href="#">  <img class="img-responsive thumpnail" src="https://a2zonlineshoppy.blob.core.windows.net/cards/diamond.jpg"></a>
                    </div>
                    <figcaption class="info-wrap">
                        <a href="#" class="title"><h4>Diamond</h4></a>
                        <div class="action-wrap pre-wrap ">
                            <div class="price-wrap  h6">
                                <span class="price-new  float-left"><h5>Price: ₹1200 </h5></span>
                                <a href="#" class="btn btn-success btn-md float-right"> Purchase </a>
                            </div>
                            <!-- price-wrap.// -->
                        </div> <!-- action-wrap -->
                    </figcaption>
                </figure> <!-- card // -->
            </div>
            
        </div>
    </div>
</section>